small{
    color: red;
}
.lcard{
    border-radius: 10px;
    box-shadow: 0.2px 0.2px 5px darkcyan;
    width: 25%;
    margin:80px auto;
    padding:17px;
}
@media screen and (max-width:450px){
.lcard{
        width: 95%;
    }
}